<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>@htakeuchi cheatsheet</title>
  <meta name="description" content="自作のチートシートをまとめているページです。" >

  <link rel="stylesheet" href="https://unpkg.com/bulmaswatch/cerulean/bulmaswatch.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

  <style>
  </style>
</head>
<body>
  <section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Cheatsheets
      </h1>
      <h2 class="subtitle">
        @htakeuchi
      </h2>
    </div>
  </div>
  </section>

  <section class="section">
    <div class="container">
      <% category.sort.each do |cat| %>
        <div class="box">
          <h3 class="title is-3"><%= cat[0] %></h3>
          <ul>
            <% cat[1].each do |v| %>
            <li><a href="<%= v[:filename].sub(/src\//, '').sub(/\.md$/, '.html') %>"><%= v[:title]%></a></li>
            <% end %>
          </ul>
        </div>
        <% end %>
    </div>
  </section>
</body>
</html>
