<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>@htakeuchi cheatsheet</title>
  <meta name="description" content="自作のチートシートをまとめているページです。" >

  <link rel="stylesheet" href="https://unpkg.com/bulmaswatch/cerulean/bulmaswatch.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
  <section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Cheatsheets
      </h1>
      <h2 class="subtitle">
        @htakeuchi's
      </h2>
    </div>
  </div>
  </section>

  <section class="section">
    <div class="container">
      <% Hash[category.sort].each do |key, value| %>
        <div class="box">
          <article class="media">
            <div class="media-content">
              <div class="content">
                <h3 class="title is-3"><%= key %></h3>
                <p>
                <ul>
                <% value.each do |v| %>
                  <li><a href="<%= v[:filename].sub(/src\//, '').sub(/\.md$/, '.html') %>"><%= v[:title]%></a></li>
                <% end %>
                </ul>
                </p>
              </div>
            </div>
          </article>
        </div>
      <% end %>
    </div>
  </section>
</body>
</html>
